@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Container */

.container {
    /* border: 2px solid black; */
    /* padding: 20px 10px; */
}


.con-head .background-image {
    /* border: 2px solid blue; */
    width: 100%;
    height: 700px;
}

.background-image video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    /* border: 2px solid red; */
    width: 90px;
    height: 90px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    /* border: 2px solid green; */
    width: 700px;
    align-self: center;
    position: absolute;
    top: 50px;
    right: 50px;
}

.navbar {
    overflow: hidden;
    background-color: #000acdad;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 120px;
    z-index: 20;
}

.co-name {
    display: none;
}

#click-bars {
    display: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-weight: 900;
}

nav ul li a:hover {
    color: #e92929e5;
}

.con-body {
    /* border: 4px solid red; */
    padding: 20px 10px;
}

.content {
    /* border: 2px solid; */
    width: 350px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

}

.content h1,
h4 {
    /* font-weight: 900; */
    padding: 10px;
    /* text-align: justify; */
}

.content .btn {
    /* border: 2px solid black; */
    position: absolute;
    bottom: 30px;
    left: 20px;
    background-color: rgb(110, 170, 185);
    color: rgb(248, 247, 247);
    font-weight: 900;
    padding: 10px 20px;
    transition: 1s;
    text-decoration: none;
    text-align: center;

}

.btn:hover {
    background-color: #0147602d;
}

.con-icon {
    /* border: 2px solid yellowgreen; */
    width: 50px;
    position: fixed;
    right: -5px;
    top: 350px;
    /* background-color: darkcyan; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 50;

}

.con-icon .fa {
    /* border: 2px solid; */
    color: white;
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    background-color: darkcyan;
}



/* .con-icon .fa-shopping-cart:hover .right-icon {
    right: 50px;

} */

.icons {
    /* border: 2px solid; */
    width: 100px;
    position: absolute;
    text-align: center;
    background-color: rgb(14, 13, 13);
    color: white;
    padding: 13px 5px;
    transition: 1s;
    z-index: -2;
    font-size: 10px;
}

.icons1 {
    top: 6px;
    right: -100px;
}

.icons2 {
    top: 60px;
    right: -100px;
}

.icons3 {
    top: 115px;
    right: -100px;
}


#shop-icon:hover~.icons1 {
    right: 40px;
}

#pic-icon:hover~.icons2 {
    right: 45px;
}

#credit-icon:hover~.icons3 {
    right: 45px;
}



.con-foot {
    /* border: 5px solid yellow; */
    padding: 20px 10px;
}




/* Container 1 (about)*/


.con-head1 {
    /* border: 3px solid green; */
    padding: 20px 10px;
}

.con-body1 {
    /* border: 4px solid red; */
    padding: 20px 10px;
}

.main-box {
    /* border: 2px solid palevioletred; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box .box {
    /* border: 3px solid blue; */
    width: 400px;
    height: 400px;
    position: relative;
}

.body-image {
    width: 600px;
}

.body-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body-content {
    /* border: 2px solid black; */
    padding: 15px 30px 40px 30px;
}

.body-content h2 {
    /* font-weight: 900; */
    color: black;
    padding: 0;
    /* border: 2px solid; */

}

.body-content p {
    /* border: 2px solid; */
    color: rgba(0, 0, 0, 0.74);
    padding-bottom: 25px;
    text-align: justify;
    /* padding: 0; */
}

.body-content a {
    border: 2px solid darkcyan;
    padding: 10px 20px;
    color: darkcyan;
    text-decoration: none;
    text-align: center;
    transition: 1s;
}

.body-content a:hover {
    background-color: darkcyan;
    color: white;
}

.body-content1 {
    padding: 15px 30px 40px 30px;
}

.body-content1 h2 {
    /* font-weight: 900; */
    color: black;
}

.body-content1 p {
    padding-bottom: 15px;
    text-align: justify;

}

.body-content1 a {
    border: 2px solid darkcyan;
    padding: 10px 40px;
    color: darkcyan;
    text-decoration: none;
    text-align: center;
    transition: 1s;
}

.body-content1 a:hover {
    background-color: darkcyan;
    color: white;
}

.con-foot1 {
    border: 5px solid yellow;
    padding: 20px 10px;
}

.side-text h4 {
    /* border: 3px solid brown; */
    position: absolute;
    left: -5px;
    -webkit-writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    letter-spacing: 0.1em;
    color: darkcyan
}




/* Container 2 (Our service) */


.container2 {
    /* border: 2px solid black; */
    padding: 30px 10px;
    background-color: #1796a5;
    /* margin-left: 0; */
    /* margin-top: 50px; */
}

.con-head2 {
    /* border: 3px solid green; */
    padding: 10px 10px;
}

.con-head2 h1 {
    text-align: center;
    /* font-weight: 900; */
    color: white;
}

.con-body2 {
    /* border: 4px solid red; */
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.service-box {
    /* border: 2px solid black; */
    width: 300px;
    height: 450px;
    position: relative;
    transition: 0.5s;
}

.fish-outside {
    /* border: 2px solid brown; */
    width: 180px;
    height: 180px;
    overflow: hidden;
    margin: 0 auto;
    /* border-radius: 50%; */
    padding: 10px;

}

.fish-outside img {
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: cover;
    border-radius: 50%;
    transition: 1s;

}

.service-box:hover .fish-outside img {
    transform: scale(1.15, 1.15);
}

.service-content {
    /* border: 2px solid greenyellow; */
    width: 300px;
    height: 250px;
    padding: 0px 10px;
    margin: 0 auto;
    margin-top: 10px;

}

.service-content h2 {
    /* border: 2px solid black; */
    padding: 0;
    color: white;
    text-align: center;
}

.service-content p {
    /* border: 2px solid; */
    color: rgba(255, 255, 255, 0.801);
    text-align: justify;
    /* margin-top: 0; */
    padding-bottom: 15px;

}

.service-content a {
    border: 2px solid white;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.5s;
    position: absolute;
    left: 80px;
}

.service-content:hover a {
    color: darkcyan;
    background-color: rgba(250, 252, 252, 0.89);

}




/* container3 (Latest Posts) */

.container3 {
    /* border: 2px solid black; */
    padding: 20px 10px;
}

.con-head3 {
    /* border: 3px solid green; */
    padding: 20px 10px;
}

.con-head3 h1 {
    text-align: center;
    font-weight: 900;
}

.con-body3 {
    /* border: 4px solid red; */
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    gap: 17px;
}

.con-body3 .card {
    /* border: 2px solid blue; */
    width: 400px;
    height: 520px;
    /* padding: 10px; */
    position: relative;
    border-radius: 2%;
    box-shadow: 0 0 10px;

}

.card-cate {
    /* border: 2px solid brown; */
    width: 400px;
    height: 250px;
    border-radius: 2%;
}

.card-cate img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
}




.card-content {
    /* border: 2px solid yellowgreen; */
    width: 400px;
    height: 250px;
    padding: 10px 20px;
    position: relative;
}

.card-content h3 {
    text-align: center;
    color: darkcyan;
}

.card-content p,
h2 {
    color: rgba(0, 0, 0, 0.678);
    /* padding-bottom: 10px; */
    /* padding-top: 5px; */

    padding-bottom: 10px;
}

.card-foot {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
}

.card-foot a {
    text-decoration: none;
    color: white;
    border: 2px solid darkcyan;
    background-color: darkcyan;
    padding: 8px 30px;
    transition: 0.5s;
}

.card-content a:hover {
    background-color: white;
    /* border: none; */
    color: darkcyan;

}



/* .container4 (About Fish) */

.container4 {
    /* border: 2px solid black; */
    background-image: url(../image/Fishes/pngtree-red-betta-fish-on-aquarium-landscape-picture-image_15516793.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.con-head4 {
    /* border: 3px solid green; */
    padding: 20px 10px;
    background: linear-gradient(to right, rgba(0, 128, 0, 0.432), rgba(255, 0, 0, 0.384));
}

.con-body4 {
    /* border: 4px solid red; */
    padding: 20px 10px;
    background: linear-gradient(to right, rgba(0, 128, 0, 0.432), rgba(255, 0, 0, 0.384));
    display: flex;
    justify-content: center;
    align-self: center;
}

.con-inside1 {
    /* border: 5px solid blue; */
    width: 800px;
    height: 500px;
    position: relative;
    padding: 20px;
}

.con-inside1 h3 {
    /* font-weight: 900; */
    padding: 10px;
    font-size: 30px;
    color: white;
}

.con-inside1 p {
    color: rgba(255, 255, 255, 0.897);
    padding: 10px;
    text-align: justify;

}

.con-inside1 a {
    border: 2px solid darkcyan;
    padding: 10px 50px;
    text-decoration: none;
    color: darkcyan;
    position: absolute;
    bottom: 100px;
    transition: 0.5s;
}

.con-inside1 a:hover {
    background-color: rgba(0, 139, 139, 0.856);
    color: rgb(248, 250, 250);
    border: 2px solid darkcyan;
}

.con-foot4 {
    padding: 15px 15px;
    background: linear-gradient(to right, rgba(0, 128, 0, 0.432), rgba(255, 0, 0, 0.384));

}


/* .container5 (Our Teams)*/

.container5 {
    /* border: 2px solid black; */
    /* padding: 20px 10px; */
    background-image: url(../image/aqua.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 80px; */
}

.con-head5 {
    /* border: 3px solid green; */
    padding: 30px 10px 0;
    background-color: rgba(0, 0, 0, 0.432);
}

.con-head5 h1 {
    text-align: center;
    color: white;
    font-weight: bold;
}

.con-body5 {
    /* border: 4px solid red; */
    padding: 80px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.432);

}

.con-body5 .our-team {
    /* border: 2px solid blue; */
    width: 250px;
    height: 300px;
    position: relative;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front {
    width: 250px;
    height: 250px;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
}

.flip-card-back {
    background: linear-gradient(to left, blue, skyblue);
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    text-align: center;
    padding: 80px 50px;
}

.face-image2 {
    padding: 20px;
    color: white;
}

.face-image2 p {
    text-align: justify;

}

.our-team .fa {
    /* background-color: white; */
    color: rgb(245, 241, 241);
    margin-top: 10px;
    /* padding: 10px 10px; */
    /* border: 2px solid white; */
    transition: 1s;
    font-size: 25px;
}

.our-team a {
    padding-left: 10px;
}

.our-team .fa:hover {
    background-color: darkcyan;
    border: none;
}

.con-foot5 {
    /* padding: 30px 15px; */
    background-color: rgba(0, 0, 0, 0.432);

}


/* container6 (Aquatic Pets) */

.container6 {
    /* border: 2px solid black; */
    padding: 20px 10px;
}

.con-head6 {
    /* border: 3px solid green; */
    padding: 20px 10px;
}

.con-head6 h1 {
    text-align: center;
}

.con-body6 {
    /* border: 4px solid red; */
    padding: 20px 10px 10px;
    display: flex;
    gap: 10px;
    position: relative;
}

.pets {
    /* border: 2px solid blue; */
    width: 330px;
    height: 550px;
    box-shadow: 0 0 10px;
    border-radius: 10px;
}

.image-container {
    /* border: 2px solid; */
    position: relative;
    width: 100%;
    max-width: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}


.image-container .image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(246, 247, 248, 0.664);
}


.image-container:hover .overlay {
    opacity: 1;
}


.icon {
    color: rgb(8, 8, 8);
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-cart-plus:hover {
    color: #0e0d0d;
}

.pets-content {
    /* border: 2px solid yellowgreen; */
    width: 300px;
    height: 230px;
    padding: 20px;
    position: relative;
}

.pets-content h3 {
    padding-bottom: 20px;
    /* color: darkcyan; */
}

.pets-content h4 {
    /* border: 2px solid; */
    /* font-weight: 900; */
    color: darkcyan;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

.pets-content p {
    color: rgba(0, 0, 0, 0.678);
    text-align: justify;
}

.con-foot6 {
    /* border: 5px solid yellow; */
    padding: 20px 10px 0;
}


/* container8 (Contact us) */



.con-head8 {
    /* border: 2px solid green; */
    padding: 30px 15px;
    text-align: center;

}

.con-body8 {
    /* border: 2px solid red;  */
    padding: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.conte {
    /* border: 2px solid blue; */
    width: 700px;
    height: 500px;
}

.map iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-form {
    /* border: 2px solid yellow; */
    width: 80%;
    height: 500px;
    border-radius: 5px;
    padding: 40px;
    padding-top: 5px;
    /* background-color: #f2f2f2; */
    position: relative;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.form-foot {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-self: center;
}

input[type=submit] {
    /* border: 2px solid black; */
    background-color: #04AA6D;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* .con-foot8 {
    padding: 25px 15px;
} */

/* container7(Footer) */

.container7 {
    /* border: 2px solid black; */
    /* padding: 20px 10px; */
    background-color: rgba(0, 0, 0, 0.842);
}


.con-body7 {
    /* border: 4px solid red; */
    padding: 10px 10px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 10px;
}

.foot-box {
    /* border: 2px solid blue; */
    width: 400px;
    height: 300px;
}

.foot1 {
    color: white;
    padding: 30px;
}

.foot1 p {
    padding: 5px;
    padding-left: 0;
    color: rgba(255, 255, 255, 0.637);
    text-align: justify;
}

.foot2 {
    /* border: 2px solid brown; */
    width: 250px;
    color: white;
    padding: 20px;
    /* text-align: center; */
}

.foot2 ul li {
    list-style: none;
    padding: 5px;

}

.foot2 ul li a {
    text-decoration: none;
    color: darkcyan;
}

.foot3 {
    color: white;
    text-align: center;
    padding: 20px 30px;
    padding-left: 0;
}

.foot3 h3 {
    padding: 10px;
    /* padding-left: 0; */
}

.foot3 address {
    padding-left: 10px;
    color: darkcyan;

}

.foot3 h4 {
    color: white;
    padding-left: 0;
    padding-bottom: 5px;
}

.foot3 h4 span {
    color: darkcyan;
    padding-left: 0;
}

.foot4 {
    padding: 20px;
    color: white;
}

.foot4 ul {
    list-style: none;
}

.foot4 ul li {
    color: darkcyan;
    padding: 5px;
}


.con-foot7 {
    /* border: 5px solid yellow; */
    text-align: center;
    color: rgba(255, 255, 255, 0.616);
}







/* About Page Container (Our skills) */





.a-head {
    /* border: 2px solid green; */
    padding: 20px 15px;
}

.a-head h1 {
    /* padding: 50px 15px; */
    text-align: center;
}

.a-body {
    /* border: 2px solid red; */
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skill-box {
    /* border: 2px solid blue; */
    width: 450px;
    height: 200px;
    gap: 10px;
    /* position: relative; */
}

.skill-inside {
    /* border: 2px solid springgreen; */
    width: 450px;
    height: 110px;
    /* padding-right: 80px; */
    position: relative;


}

.skill-inside h2 {
    color: rgb(15, 15, 15);
    padding-top: 30px;
    /* padding-left: 5px; */
}

.bar-outside {
    width: 90%;
    height: 18px;
    background-color: #0e0d0d;
    margin-top: 5px;
}

.bar-inside h5 {
    text-align: end;
    color: rgba(241, 241, 241, 0.973);
    font-size: 13px;
}

.bar-inside {
    width: 95%;
    height: 18px;
    background-color: darkcyan;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}





.skill-inside1 {
    /* border: 2px solid darkmagenta; */
    width: 450px;
    height: 100px;
    /* padding-right: 80px; */
    position: relative;
}

.skill-inside1 h2 {
    color: rgb(15, 15, 15);
    padding-top: 10px;

    /* font-weight: 900; */
    /* padding-left: 10px; */
}


.skill-inside1 .bar-outside {
    width: 90%;
    height: 18px;
    background-color: #0e0d0d;
    margin-top: 5px;
}

.skill-inside1 .bar-inside1 h5 {
    text-align: end;
    color: rgb(243, 247, 243);
    font-size: 13px;
}

.skill-inside1 .bar-inside1 {
    width: 90%;
    height: 18px;
    background-color: darkcyan;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}




/* Header Part Fixed */

.container11 {
    /* border: 2px solid black; */
    /* padding: 15px 15px; */
    background-image: url(../image/about1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.con-head11 {
    /* border: 2px solid green; */
    padding: 60px 0px;
    background-color: rgba(0, 0, 0, 0.555);
}

.con-head11 .logo {
    /* border: 2px solid red; */
    width: 100px;
    height: 100px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container11 .navbar {
    overflow: hidden;
    background-color: #141414a1;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0px;
    /* Position the navbar at the top of the page */
    width: 100%;
    height: 120px;
    z-index: 20;
}

nav {
    /* border: 2px solid green; */
    width: 700px;
    align-self: center;
    position: absolute;
    top: 50px;
    right: 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-weight: 900;
}

nav ul li a:hover {
    color: #e92929e5;
}

.con-body11 {
    /* border: 4px solid red; */
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
}

.con-body11 .a-content {
    /* border: 2px solid black; */
    width: 350px;
    height: 200px;
    color: #ffffff;
    padding: 15px 25px;
}

.a-content h1 {
    text-align: center;
    font-weight: 900;
    padding: 15px 15px;
}


.a-content h1:hover {
    color: darkcyan;
}



/* About page (about the fish)  */

.a-container4 {
    /* border: 2px solid black; */
    padding: 15px 15px;
}

.a-head4 {
    /* border: 2px solid green; */
    padding: 15px 15px;
}

.a-body4 {
    /* border: 2px solid red; */
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
}

.a-inside1 {
    /* border: 2px solid blue; */
    width: 500px;
    height: 400px;
    padding: 20px;
    padding-left: 50px;
    position: relative;
}

.a-inside-img {
    width: 400px;
    height: 400px;
}

.a-inside-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-inside1 h2 {
    /* text-align: justify; */
    padding-bottom: 13px;
}

.a-inside1 p {
    text-align: justify;
    padding-bottom: 15px;
}

.a-inside1 a {
    text-decoration: none;
    border: 2px solid darkcyan;
    color: darkcyan;
    background-color: white;
    padding: 10px 20px;
    transition: 1s;
    margin-left: 10px;
}

.a-inside1 a:hover {
    background-color: darkcyan;
    color: white;
}

.a-inside1 .a-side-text {
    /* border: 3px solid brown; */
    -webkit-writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
    letter-spacing: 0.1em;
    color: darkcyan
}

/* .a-side-text h4 {
    -webkit-writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);

    letter-spacing: 0.1em;
    color: darkcyan
} */



/* Contact page (Sign in form) */

.c-container {
    /* border: 2px solid black; */
    padding: 15px 15px;
}

.c-head {
    /* border: 2px solid green; */
    padding: 15px 15px;
    text-align: center;
}

.c-body {
    /* border: 2px solid red; */
    padding: 15px 15px;

    display: flex;
    justify-content: center;

}

.a-foot {
    /* border: 2px solid brown; */
    padding: 15px 15px;
}


/* Fish Page(Fish Category) */



.f-container {
    /* border: 2px solid black; */
    /* padding: 10px 20px; */
}

.f-head {
    /* border: 2px solid green; */
    padding: 30px 20px;
    text-align: center;
}

.f-body {
    /* border: 2px solid red; */
    padding: 30px 20px;
    display: flex;
    /* justify-content: center; */
    gap: 10px;
    overflow: auto;
    position: relative;
}

.fish {
    /* border: 2px solid blue; */
    min-width: 300px;
    height: 200px;
    position: relative;
}



.fish-img {
    /* border: 3px solid rebeccapurple; */
    overflow: hidden;
    /* margin: 70px 10px; */
}

.fish-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inside-cart {
   
    position: absolute;
    bottom: -150px;
    left: 0;
    min-width: 350px;
    height: 150px;
    padding: 10px;
    background-color: rgba(89, 93, 101, 0.576);
    color: white;
    transition: 1s;
}

.inside-cart h3 {
    color: white;
}

.inside-cart p {
    text-decoration: line-through;
    padding: 8px
}

.inside-cart h5 {
     /* border: 2px solid red; */
    /* font-size: 30px; */
    position: absolute;
    left: 70px;
    top: 50px;
}

.inside-cart .cart {
    border: 2px solid #4F7CAC;
    padding: 10px;
    text-decoration: none;
    color: white;
    position: absolute;
    right: 70px;
    top: 90px;
    background-color: #4F7CAC;
    border-radius: 10%;
    font-size: 12px;
}

.inside-stars {
    /* border: 2px solid blue; */
    height: 50px;
    display: flex;
    justify-content: start;
}

.inside-stars .star1 {
    display: block;
    color: #fbc116;
    /* color: rgba(255, 68, 0, 0.774); */
}

.inside-stars .star {
    color: white;
}

.fish-img:hover .inside-cart {
    left: -1px;
    bottom: 0;
}

.f-body::-webkit-scrollbar {
    width: 0;
}

.f-foot {
    /* border: 2px solid yellow; */
    padding: 10px 30px;
}


/* Fish Page(Fish Food) */

.f-container1 {
    /* border: 2px solid black; */
    padding: 15px 15px;
}

.f-head1 {
    /* border: 2px solid green; */
    padding: 30px 15px;
    text-align: center;
}

.f-body1 {
    /* border: 2px solid red; */
    padding: 30px 15px;
    display: flex;
    gap: 15px;
    overflow: auto;
}

.food {
    /* border: 2px solid rgb(228, 133, 16); */
    min-width: 300px;
    height: 250px;
    overflow: hidden;
    position: relative;
    /* animation: mymove 20s infinite; */
    /* left: 400px; */
}

/* .fish:hover {
    animation-play-state: paused;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: -700px;
    }
} */


.food img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inside-cart1 {
    /* border: 2px solid red; */
    position: absolute;
    bottom: -150px;
    left: 0;
    min-width: 350px;
    height: 150px;
    padding: 10px;
    background-color: rgba(89, 93, 101, 0.576);
    color: white;
    transition: 1s;
}


.inside-cart1 p {
    text-decoration: line-through;
    padding: 10px;

}

.inside-cart1 h5 {
    position: absolute;
    left: 65px;
    top: 53px;
}

.inside-cart1 a {
    /* border: 2px solid black; */
    padding: 10px;
    text-decoration: none;
    color: white;
    position: absolute;
    right: 55px;
    top: 90px;
    background-color: #4F7CAC;
    border-radius: 10%;
    font-size: 12px;

}

.food-img:hover .inside-cart1 {
    left: -1px;
    bottom: 0;
}

.f-body1::-webkit-scrollbar {
    width: 0;
}

.offer {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 4px;
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    font-size: 12px;


}


.f-foot1 {
    /* border: 2px solid brown; */
    padding: 15px 15px;
}


/* Shop Now */

.s-container {
    /* border: 2px solid black; */
    padding: 20px 10px;
}

.s-head {
    /* border: 3px solid green; */
    padding: 20px 10px;
}


.s-body {
    /* border: 4px solid red; */
    padding: 20px 10px 10px;
    display: flex;
    gap: 15px;
    position: relative;
}

.aquatic {
    /* border: 2px solid yellowgreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.s-pet {
    /* border: 2px solid black; */
    width: 280px;
    height: 450px;
    /* padding: 5px; */
    position: relative;
    box-shadow: 0 0 7px;
    margin: 5px;
    border-radius: 5px;
}

.pet-cate {
    /* border: 2px solid blueviolet; */
    /* padding: 15px 8px; */
}

.shop-cate {
    /* border: 2px solid sandybrown; */
    width: 250px;
    height: 330px;
    position: relative;
    background-color: #712d4267;
    color: white;
    padding-left: 10px;
}

.shop-cate h3 {
    color: white;
    margin-bottom: 20px;
}

.shop-cate h3 span {
    color: darkcyan;
    /* font-size: 20px; */

}

.shop-cate a {
    text-decoration: none;
    /* background-color: #1796a5; */
    padding: 10px 20px;
    color: white;
    border: 2px solid white;
    transition: 1s;

}

.shop-cate a:hover {
    color: white;
    background-color: darkcyan;
    border: none;
}

.shop-cate p {
    color: white;
    /* text-align: center; */
}

.product {
    width: 300px;
    height: 200px;
}

#range {
    /* border: 2px solid blue; */
    width: 50%;
    padding: 20px 20px;
}

.pet-cate h2 {
    /* border: 2px solid black; */
    /* text-align: center; */
    padding: 10px 15px;
    color: white;

}

.pet-cate ul li {
    /* text-align: center; */
    text-decoration: none;
    list-style: none;
    padding: 10px 10px
}

.pet-cate ul li:hover {
    color: darkcyan;
    cursor: pointer;
}

.s-image {
    position: relative;
    width: 270px;
    height: 225px;
}


.s-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.s-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(246, 247, 248, 0.664);
}


.s-image:hover .s-overlay {
    opacity: 1;
}


.icon {
    color: rgb(8, 8, 8);
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-cart-plus:hover {
    color: #0e0d0d;
}

.s-pet-content {
    /* border: 2px solid seagreen; */
    width: 280px;
    height: 220px;
    padding: 10px;
    position: relative;
}

.s-pet-content h3 {
    /* text-align: justify; */
    padding: 15px 5px;
    /* color: darkcyan; */
}

.s-pet-content h4 {
    /* border: 2px solid; */
    font-weight: 900;
    color: darkcyan;
    text-align: center;
    font-size: 25px;
}

.s-pet-content p {
    color: rgba(0, 0, 0, 0.678);
    text-align: justify;
}

.s-foot {
    /* border: 5px solid yellow; */
    padding: 20px 10px;
    display: flex;
    justify-content: center;

}

.pagination {
    /* border: 2px solid black; */
    width: 600px;
    padding: 8px 16px;
    display: flex;
    justify-content: end;
    gap: 10px;

}

.pagination a {
    /* border: 2px solid; */
    /* font-weight: bold; */
    font-size: 20px;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.5s;

}

.pagination a.active {
    border: 2px solid;
    background-color: darkcyan;
    padding: 10px 15px;
}

.pagination a:hover:not(.active) {
    border: 2px solid;
    background-color: #d4d5d2;
}








@media screen and (max-width: 768px) {

    .navbar {
        height: 90px;
        padding: 10px;
    }

    .logo {
        width: 80px;
        height: 80px;
        top: 5px;
        left: 10px;
    }

    nav {
        position: fixed;
        top: 70px;
        right: -100%;
        width: 150px;
        height: 300px;
        background-color: rgba(0, 0, 255, 0.863);
        transition: 0.5s;
    }

    nav ul {
        flex-direction: column;
        padding: 0 10px;
        font-size: 15px;
    }

    nav ul li {
        padding: 5px 0;
    }


    #click-bars {
        display: none;
    }

    .co-name {
        position: absolute;
        right: 20px;
        top: 22px;
        font-size: 28px;
        color: white;
        cursor: pointer;
        z-index: 100;
        display: block;
    }


    #click-bars:checked~nav {
        right: 0;
    }

    #shop-icon:hover~.icons1 {
        right: 40px;
    }

    #pic-icon:hover~.icons2 {
        right: 45px;
    }

    #credit-icon:hover~.icons3 {
        right: 45px;
    }

    /*  CONTENT  */

    .con-body .content {
        /* border: 2px solid black; */
        width: auto;
        height: auto;
        font-size: 10px;
        padding: 20px;

    }

    .content h1 {
        font-size: 15px;
    }

    .content .btn {
        position: static;
        display: inline-block;
        /* margin-top: 10px; */
        margin-bottom: 10px;
        transition: 1s;
        padding: 10px;
    }

    .btn:hover {
        background-color: #0147608f;
    }



    /* ABOUT */

    .con-body1 .main-box {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-box .box {
        /* border: 2px solid black; */
        width: auto;
        height: auto;
        padding-top: 0;
    }

    .body-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .body-content,
    .body-content1 {
         /* border: 2px solid black; */
        /* padding: 20px; */
        padding-left: 50px;
        font-size: 15px;
        /* text-align: center; */
    }

    .body-content a,
    .body-content1 a {
        position: static;
        margin-top: 25px;
        display: inline-block;
    }


    .side-text h4 {
        /* border: 2px solid black; */
        width: 50px;
        height: 180px;
        position: absolute;
        left: 0px;
        top: 0;

    }

    /* OUR SERVICES */

    .con-body2 {
        flex-direction: row;
        flex-wrap: wrap;
        /* align-items: center; */
        font-size: 20px;
    }

    .service-box {
        /* border: 2px solid black; */
        width: auto;
        height: auto;
        flex-wrap: wrap;
       
    }

    .service-content:hover .fish-outside {
        transform: scale(1.2, 1.2);
    }

    .service-content {
        /* border: 2px solid yellow; */
        position: static;
        text-align: center;
        padding: 20px;
        font-size: 15px;
    }

    .service-content a {
        position: static;
        display: inline-block;
        margin-top: 15px;
    }

    .service-content:hover a {
        color: darkcyan;
        background-color: rgba(250, 252, 252, 0.89);

    }

    /*LATEST POSTS  */

    .con-body3 {
        /* border: 2px solid blue; */
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }

    .card {
        /* border: 2px solid black; */
        width: auto;
        height: 400px;
    }


    .card-content {
        /* border: 2px solid blue; */
        width: auto;
        height: auto;
        font-size: 15px;
        padding: 11px;
    }

    .card-cate {
        /* border: 2px solid orangered; */
        width: auto;
        height: 200px;
    }

    .card-cate img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* FISH ABOUT */

    .container4 {
        width: auto;
        height: auto;
    }

    .container4 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .con-inside1 {
        /* border: 2px solid black; */
        height: auto;
        padding: 40px 20px;
        /* text-align: center; */
        font-size: 12px;
    }
    .con-inside1 h3{
         font-size: 20px;
    }

    .con-inside1 a {
        position: static;
        display: inline-block;
        margin-top: 20px;
    }

    /* OUR TEAM  */

    .con-body5 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .our-team {
        /* border: 2px solid black; */
        width: 400px;
        /* font-size: 12px; */
    }

    /* AQUATIC PETS */

    
    .con-body6 {
        /* border: 2px solid red; */
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pets {
        /* border: 2px solid black; */
        width: 330px;
        height: auto;
    }

    /* CONTACT PAGE */

    .con-body8 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    iframe {
        width: auto;
        height: auto;
    }

    .c-form {
        /* border: 2px solid black; */
        width: auto;
        height: auto;
        /* padding: 20px; */
    }

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 10px;
        margin-top: 6px;
        /* margin-bottom: 10px; */
    }

    input[type=submit] {
        margin-left: 40px;
        padding: 10px 55px;
    }

    /* FOOTER  */

    .con-body7 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* text-align: center; */
    }

    .foot-box {
        /* border: 2px solid white; */
        width: 400px;
        height: 280px;
        padding: 5px 30px;
        font-size: 15px;
    }

    .foot1 {
        height: 200px;
        padding: 5px 15px;
        
    }

    .foot-box h1 {
        padding: 0;
        text-align: center;
    }

    .foot2,
    .foot4 {
        text-align: center;
    }

    .foot-box p {
        padding: 10px;
        
    }

    .con-foot7{
        font-size: 12px;

    }

    /* ABOUT PAGE */
    .a-head{
        font-size: 18px;
    }
    .a-body {
        /* border: 2px solid red; */
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

    }

    .skill-box {
        /* border: 2px solid blue; */
        width: auto;
        height: auto;
        /* position: relative; */
    }

    .skill-inside,
    .skill-inside1 {
        /* border: 2px solid springgreen; */
        width: auto;
        height: auto;
         font-size: 15px;
    }

    .skill-inside h2,
    .skill-inside1 h2 {
        padding-top: 0;
    }

    .bar-percentage h3 {
        position: absolute;
        bottom: 20px;
        left: 10px;
    }

    .a-body4 {
        /* border: 2px solid red; */
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .a-side-text h4 {
        /* border: 2px solid black; */
        width: 50px;
        height: 180px;
        position: static;
    }


    .a-inside1 {
        /* border: 2px solid blue; */
        width: auto;
        height: auto;
        padding-left: 50px;
        position: relative;
        
    }

    .a-inside-img {
        /* border: 3px solid black; */
        width: 500px;
        height: auto;
    }

    .a-inside1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .a-inside1 h2 {
        
        /* padding: 10px 45px 10px 0; */
         font-size: 24px;
    }

    .a-inside1 p {
        /* border: 3px solid black; */
          font-size: 15px;
        padding: 10px 30px 15px 0;
    }

    .a-inside1 a {
        border: 2px solid darkcyan;
        /* color: darkcyan; */
        /* background-color: white; */
        padding: 5px 10px;
        transition: 1s;
        margin-bottom: 20px;
    }

    /* FISH CATEGORY */
    .f-body {
        /* border: 2px solid black; */
        flex-wrap: wrap;
        flex-direction: row;
    }

    .f-body1 {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .inside-cart {
        /* border: 2px solid red; */
        position: absolute;
        bottom: -150px;
        left: 0;
        min-width: 350px;
        height: 150px;
        padding: 10px;
        background-color: rgba(89, 93, 101, 0.576);
        color: white;
        transition: 1s;
    }


    .inside-cart p {
        text-decoration: line-through;
        padding: 8px
            /* font-size: 30px; */
            /* font-weight: 600; */
    }

    .inside-cart h5 {
        /* font-size: 30px; */
        position: absolute;
        left: 70px;
        top: 52px;
    }

    .inside-cart .cart {
        border: 2px solid #4F7CAC;
        padding: 10px;
        text-decoration: none;
        color: white;
        position: absolute;
        right: 70px;
        top: 90px;
        background-color: #4F7CAC;
        border-radius: 10%;
        font-size: 12px;
    }

    .inside-stars {
        /* border: 2px solid blue; */
        height: 50px;
        display: flex;
        justify-content: start;
    }

    .inside-stars .star1 {
        display: block;
        color: #fbc116;
        /* color: rgba(255, 68, 0, 0.774); */
    }

    .inside-stars .star {
        color: white;
    }

    .fish-img:hover .inside-cart {
        left: -1px;
        bottom: 0;
    }

    /* CATEGORY PAGE */
    .f-body,
    .f-body1 {
        /* border: 2px solid red; */
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: center;
        gap: 20px;
    }

    .s-body {
        /* border: 4px solid red; */
        flex-direction: row;
        /* flex-wrap: wrap; */
        /* width: 100%; */
    }

    .pet-cate {
        /* border: 2px solid seagreen; */
        flex-direction: row;
    }


    .aquatic {
        /* border: 2px solid black; */
        flex-direction: row;

    }

    .s-pet {
        /* border: 2px solid blue; */
        width: auto;
        height: auto;
    }


}


@media screen and (max-width: 425px) {

    
    .s-body {
        /* border: 4px solid red; */
        flex-direction: row;
        flex-wrap: wrap;
        /* width: 100%; */
    }

    .pet-cate {
        /* border: 2px solid seagreen; */
        flex-direction: row;
        width: 100%;
    }

    .shop-cate {
        width: 100%;
        text-align: center;
    }
}